<div class="flex flex-col h-full justify-between">
  <div>
    <div class="border-b border-gray-200 mb-4 pb-6 flex items-center justify-between p-6">
      <h1>
        <span class="text-2xl font-semibold text-gray-800">Mails</span>
      </h1>
      <p-button size="small" severity="contrast" icon="pi pi-plus" (click)="createMail()"></p-button>
    </div>
    <div class="flex flex-col gap-2 px-4">
      @for (item of navigationItems; track item.route) {
        <a
          class="button flex items-center px-4 py-2 gap-4 rounded-lg transition-colors hover:bg-gray-100"
          [routerLink]="item.route"
          routerLinkActive="bg-gray-100"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <i [class]="item.icon"></i>
          <span class="text-gray-900 font-medium">{{ item.label }}</span>
        </a>
      }
    </div>
  </div>

  <div class="border-t border-gray-200 p-6">
    <button
      class="w-full cursor-pointer flex items-center px-4 py-2 gap-4 rounded-lg transition-colors hover:bg-gray-100"
      (click)="logout()"
    >
      <i class="pi pi-sign-out"></i>
      <span class="text-gray-900 font-medium">Logout</span>
    </button>
  </div>

</div>
