:80 {
	root * /srv
	header {
		Cache-Control "no-store"
	}

	@rootSpaRoutes path /mails /mails/* /login /register /404
	redir @rootSpaRoutes /app{uri} 308

	handle_path /api/* {
		rewrite * /api{uri}
		reverse_proxy mail-server:{$SERVER_PORT:8080}
	}

	handle /node_modules/* {
		file_server
	}

	handle_path /app/* {
		try_files {path} /index.html
		file_server
	}

	redir / /app/ 308
	redir /app /app/ 308
}
